
*.cs linguist-language=C#
*.xaml linguist-language=XAML
*.json linguist-language=JSON
*.xml linguist-language=XML
*.md linguist-language=Markdown

packages/* linguist-vendored
node_modules/* linguist-vendored
bin/* linguist-vendored
obj/* linguist-vendored
